.main-shop {
    display: flex;
    border: 6px solid #063301;
    padding-left: 2%;
    padding-right: 2%;
    
}

.container-shop {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 70%;
    border: 1px solid purple;
}

.item-shop {
    width: 32%;
    padding-bottom: 30%; /* Same as width, sets height */
    margin-bottom: 2%; /* (100-32*3)/2 */
    position: relative;
    border: 2px solid #063301;
}
.cart {
    flex-grow: 2;
    border: 3px dotted orange;
    margin-left: 1%;

}